[Unit]
Description=Autoexec target
Requires= \
  background-config.service \
  picom.service \
  nm-applet.service \
  notification-daemon.service \
  polkit-agent.service \
  xorg-config.service
Wants=
After= \
  background-config.service \
  picom.service \
  nm-applet.service \
  notification-daemon.service \
  polkit-agent.service \
  xorg-config.service

[Install]
WantedBy=default.target
