[Unit]
Description=Autoexec target
Requires=background-config.service compton.service gsd-xsettings.service mounter@home-public.service mounter@home-data.service nextcloud.service nm-applet.service notification-daemon.service player-track-keeper.service polkit-agent.service telegram.service xorg-config.service
After=background-config.service compton.service gsd-xsettings.service mounter@home-public.service mounter@home-data.service nextcloud.service nm-applet.service notification-daemon.service player-track-keeper.service polkit-agent.service telegram.service xorg-config.service

[Install]
WantedBy=default.target
