[Unit]
Description=Run telegram

[Service]
Type=oneshot
ExecStart=/var/lib/flatpak/exports/bin/org.telegram.desktop

[Install]
WantedBy=default.target
