/*

!.gitignore
!.zconf-sample
!.zshrc
!.vimrc
!.dircolors
!.gdbinit
!.gitconfig
!.i3status.conf
!.zprofile
!.profile
!.Xdefaults
!.xinitrc
!.compton.conf
!.vim
!.i3
!.config
!.ssh
!.mutt
!.yaourtrc
!.passwd
!.screenrc
!.todo
!.tmux.conf
!README.md
!LICENSE
