/*

!.gitignore
!.zshrc
!.vimrc
!.dircolors
!.gdbinit
!.gitconfig
!.i3status.conf
!.zprofile
!.profile
!.Xdefaults
!.xinitrc
!.compton.conf
!.vim
!.i3
!.config
!.config/.gitignore
!.ssh
!.ssh/.gitignore
!.yaourtrc
!README.md
